<div *ngIf="candidate" class="candidate">
    <!-- <div class="application-wrapper">
        <div class="application">
            <div>Текущий этап: {{candidate.application.status}}</div>   
            <div class="application-status">
              
                <button class="application-button" mat-flat-button color="primary">Просмотреть</button>
                <button class="application-button" mat-flat-button color="primary">Одобрить скриннинг</button>
                <button class="application-button" mat-flat-button color="primary">Отправить оффер</button>
                <button class="application-button" mat-flat-button color="warn">Отказать</button>
            </div>

        </div>

        <div class="comment">
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Комментарий">{{candidate.application.comment}}</textarea>
            </mat-form-field>
            <button class="application-button" mat-flat-button color="primary">Сохранить комментарий</button>
        </div>
    </div> -->
    
    <div class="candidate-card">
        <div class="candidate-card-header">
            {{candidate.lastName}} {{candidate.firstName}} {{candidate.midName}} {{candidate.desiredPosition}}
        </div>
        <div class="candidate-work-requiments">
            <div>{{candidate.phone}}</div>
            <div>
                <a [href]="'mailto:' + candidate.email">{{candidate.email}}</a>
            </div>
            <div>
                <a [href]="'https://t.me/'+ candidate.telegram">@{{candidate.telegram}}</a>
            </div>
        </div>
        <div class="candidate-work-requiments">
            <div>{{candidate.expectedSalary}} руб.</div>
            <div>{{candidate.city.name}}</div>
            <div>Возраст: {{candidate.age}}</div>
            <div>Стаж: {{candidate.experience}}</div>
        </div>
        <div class="candidate-card-content">
            <div class="description">{{candidate.description}}</div>
            <div class="content-item">
                <div class="candidate-card-sub-header">
                    Навыки:
                </div>
                {{candidate.skills}}
            </div>
            <div class="content-item">
                <div class="candidate-card-sub-header">
                    Опыт работы:
                </div>
                <ul>
                    <li *ngFor="let experience of candidate.experiences">
                        <div >
                            {{experience.positionName}} {{experience.companyName}}({{experience.startDate | date}} - {{experience.endDate | date}})
                        </div>
                        <div>
                            {{experience.description}}
                        </div>
                    </li>
                </ul>

            </div>
            <div class="content-item">
                <div class="candidate-card-sub-header">
                    Образование:
                </div>
                <ul>
                    <li *ngFor="let education of candidate.educations">
                            {{education.university}} {{education.specialization}} ({{education.graduationYear}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <modal *ngIf="(modalService.isVisible)"> 
    <candidate-response></candidate-response>
</modal> -->
