<div class="vacancy-application-wrapper">
    <div class="vacancy-application">
        <header>Создание вакансии</header>
        <mat-stepper orientation="vertical" [linear]="true" #stepper>
            <mat-step [stepControl]="commonDataFormGroup">
                <form class="application-sub-section" [formGroup]="commonDataFormGroup">
                    <ng-template matStepLabel>Общая информация</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Название вакансии</mat-label>
                        <input matInput placeholder="Введите значние" formControlName="name" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Отдел</mat-label>
                        <input matInput placeholder="Введите значние" formControlName="unit" required>
                    </mat-form-field>

                    <mat-form-field  class="filter-field" appearance="outline">
                        <mat-label>Город</mat-label>
                        <mat-select formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field  class="filter-field" appearance="outline">
                        <mat-label>Заказчик</mat-label>
                        <mat-select formControlName="owner">
                            <mat-option *ngFor="let owner of owners" [value]="owner">{{owner.lastName}} {{owner.firstName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field  class="filter-field" appearance="outline">
                        <mat-label>Формат работы</mat-label>
                        <mat-select formControlName="workFormat">
                            <mat-option *ngFor="let format of workFormats" [value]="format">{{format.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <div>
                        <button mat-flat-button matStepperNext color="primary">Далее</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="conditionsFormGroup">
                <form class="application-sub-section" [formGroup]="conditionsFormGroup">
                    <ng-template matStepLabel>Условия</ng-template>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Минимальная зарплата</mat-label>
                        <input matInput type="number" min="0" placeholder="Введите значение" formControlName="minSalary" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Максимальная зарплата</mat-label>
                        <input matInput type="number" min="0" placeholder="Введите значение" formControlName="maxSalary" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Зарплата, отображаемая в вакансии</mat-label>
                        <input matInput placeholder="Введите значние" formControlName="publicSalary" required>
                    </mat-form-field>

                    <mat-form-field  class="filter-field" appearance="outline">
                        <mat-label>Требуемый опыт</mat-label>
                        <mat-select formControlName="requiredExperience">
                            <mat-option *ngFor="let exp of requiredExpiriences" [value]="exp">{{exp.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-flat-button matStepperPrevious color="primary">Назад</button>
                        <button mat-flat-button matStepperNext color="primary">Далее</button>
                    </div>
                </form>
            </mat-step><mat-step [stepControl]="descriptionFormGroup">
                <form [formGroup]="descriptionFormGroup">
                    <ng-template matStepLabel>Описание вакансии</ng-template>

                    <mat-form-field class="application-sub-section" appearance="outline">
                        <mat-label>Описание команды</mat-label>
                        <textarea matInput placeholder="Расскажите про отдел, команду и глобальные цели" formControlName="description"></textarea>
                    </mat-form-field>

                    <mat-form-field class="application-sub-section" appearance="outline">
                        <mat-label>Список обязанностей</mat-label>
                        <textarea matInput placeholder="Расскажите про то, чем предстоит заниматься кандидату" formControlName="responsibilities"></textarea>
                    </mat-form-field>

                    <mat-form-field class="application-sub-section" appearance="outline">
                        <mat-label>Список требований</mat-label>
                        <textarea matInput placeholder="Расскажите про то, какой опыт должен быть у кандидата" formControlName="requirements"></textarea>
                    </mat-form-field>

                    <mat-form-field class="application-sub-section" appearance="outline">
                        <mat-label>Список выгод</mat-label>
                        <textarea matInput formControlName="benefits"></textarea>
                    </mat-form-field>

                    <div class="buttons">
                        <div class="step-buttons">
                            <button mat-flat-button matStepperPrevious color="primary">Назад</button>
                            <button mat-flat-button matStepperNext color="primary">Далее</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="skillsFormControl">
                <form>
                    <ng-template matStepLabel>Навыки</ng-template>
                    
                    <mat-form-field class="application-sub-section"  appearance="outline">
                        <mat-label>Навыки</mat-label>
                        <mat-chip-grid #chipGrid aria-label="Введите навыки" [formControl]="skillsFormControl">
                          <mat-chip-row *ngFor="let skill of skills"
                                        (removed)="removeSkill(skill)">
                            {{skill}}
                            <button matChipRemove [attr.aria-label]="'remove ' + skill">
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                          <input placeholder="Введите навык и нажмите Enter..."
                                 [matChipInputFor]="chipGrid"
                                 (matChipInputTokenEnd)="addSkill($event)"/>
                        </mat-chip-grid>
                    </mat-form-field>

                    <div class="buttons">
                        <div class="step-buttons">
                            <button mat-flat-button matStepperPrevious color="primary">Назад</button>
                            <button mat-flat-button matStepperNext color="primary" (click)="createVacancy()">Создать</button>
                        </div>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
    
</div>
