<div class="header-wrapper">
    <header>
        <img routerLink="/vacancies" src="assets/images/coding_by_paws3.png" width="100px" height="100px">
        <a routerLink="/applications">Отклики</a>
        <a routerLink="/candidates">Кандидаты</a>

        <a *ngIf="loginService.isLoggedIn()" routerLink="/vacancies">Вакансии</a>

        <a *ngIf="!loginService.isLoggedIn()" [matMenuTriggerFor]="vacanciesMenu">Вакансии</a>
        <mat-menu #vacanciesMenu="matMenu">
            <button [routerLink]="'/vacancies'" mat-menu-item>Список вакансий</button>
            <button [routerLink]="'/vacancy-creation'"mat-menu-item>Создать вакансию</button>
        </mat-menu>
    </header>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
