<div class="header-wrapper">
    <header>
        <img routerLink="/vacancies" src="assets/images/coding_by_paws3.png" width="100px" height="100px">
        <a *ngIf="loginService.isLoggedIn()" routerLink="/applications">Отклики<mat-icon></mat-icon></a>
        <a *ngIf="loginService.isLoggedIn()" routerLink="/candidates">Кандидаты<mat-icon></mat-icon></a>

        <a *ngIf="!loginService.isLoggedIn()" routerLink="/vacancies">Вакансии</a>

        <a *ngIf="loginService.isLoggedIn()" [matMenuTriggerFor]="vacanciesMenu">Вакансии<mat-icon>arrow_drop_down</mat-icon></a>
        <mat-menu #vacanciesMenu="matMenu">
            <button [routerLink]="'/vacancies'" mat-menu-item>Общий список вакансий</button>
            <button [routerLink]="'/my-vacancies'" mat-menu-item>Мои вакансии</button>
            <button [routerLink]="'/vacancy-creation'"mat-menu-item>Создать вакансию</button>
        </mat-menu>

        <a [matMenuTriggerFor]="personalAccountMenu"><mat-icon >person</mat-icon></a>
        <mat-menu #personalAccountMenu="matMenu">
          <button *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()" mat-menu-item>Выйти</button>
          <button *ngIf="!loginService.isLoggedIn()" [routerLink]="'/login'" mat-menu-item>Войти</button>
          <!-- <button *ngIf="!loginService.isLoggedIn()" [routerLink]="'/дщпшт'" mat-menu-item>Регистрация</button> -->
        </mat-menu>
    </header>
</div>
<calendar></calendar>
<div class="content">
    <router-outlet></router-outlet>
</div>
