<div class="vacancies">
    <div class="vacancy-list-fliters-wrapper">
        <div class="vacancy-list-filters">
            <mat-form-field class="filter-field" appearance="outline">
                <mat-label>Поиск по вакансии</mat-label>
                <input matInput [formControl]="vacancyFormControl"  (input)="filter()"  placeholder="Введите вакансию">
            </mat-form-field>

            <mat-form-field class="filter-field" appearance="outline">
                <mat-label>Мин. ЗП</mat-label>
                <input matInput type="number" min="0" [formControl]="minSalaryFormControl"  (input)="filter()">
            </mat-form-field>

            <mat-form-field class="filter-field" appearance="outline">
                <mat-label>Макс. ЗП</mat-label>
                <input matInput type="number" min="0" [formControl]="maxSalaryFormControl"  (input)="filter()">
            </mat-form-field>    

            <mat-form-field  class="filter-field" appearance="outline">
                <mat-label>Город</mat-label>
                <mat-select [formControl]="citiesFormControl" multiple (selectionChange)="filter()">
                    <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field  class="filter-field" appearance="outline">
                <mat-label>Требуемый опыт</mat-label>
                <mat-select [formControl]="requiredExpiriencesFormControl" multiple (selectionChange)="filter()">
                    <mat-option *ngFor="let exp of requiredExpiriences" [value]="exp">{{exp.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field  class="filter-field" appearance="outline">
                <mat-label>Формат работы</mat-label>
                <mat-select [formControl]="workFormatsFormControl" multiple (selectionChange)="filter()">
                    <mat-option *ngFor="let format of workFormats" [value]="format">{{format.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="filter-button" mat-flat-button color="primary" (click)="resetFilters()">Сбросить фильтры</button>
        </div>
        
    </div>
    

    <mat-list role="list">
        <div class="vacancies-list-header" mat-subheader>Открытые вакансии</div>
        <div class="vacancies-list-sub-header" *ngIf="vacanciesFiltered.length == 0">Данных нет</div>
        <mat-list-item class="vacancy-list-item" *ngFor="let vacancy of vacanciesFiltered">
            <div class="vacancy-preview" (click)="openVacancy(vacancy)">
                <div class="vacancy-work"><div>{{vacancy.city.name}}</div> <div>{{vacancy.workFormat.name}}</div></div>
                <div class="vacancy-name">{{vacancy.name}} ({{vacancy.unitName}})</div>
                <div class="vacancy-conditions"><div>{{vacancy.publicSalary  | number:'1.0-0'}} руб.</div><div>{{vacancy.requiredExperience.name}}</div></div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>

