<div class="candidates">
    <div class="candidate-list-fliters-wrapper">
        <div class="candidate-list-filters">
            <mat-form-field  class="filter-field" appearance="outline">
                <mat-label>Поиск по вакансии</mat-label>
                <input   matInput [formControl]="vacancyFormControl" (input)="filter()">
            </mat-form-field>

            <mat-form-field  class="filter-field" appearance="outline">
                <mat-label>Город</mat-label>
                <mat-select [formControl]="citiesFormControl" multiple (selectionChange)="filter()">
                    <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="range-filter">
                <mat-form-field  class="range-field" appearance="outline">
                    <mat-label>Мин. ЗП</mat-label>
                    <input type="number" min="0" matInput [formControl]="minSalaryFormControl" (input)="filter()">
                </mat-form-field>
    
                <mat-form-field  class="range-field" appearance="outline">
                    <mat-label>Макс. ЗП</mat-label>
                    <input type="number" min="0" matInput [formControl]="maxSalaryFormControl" (input)="filter()">
                </mat-form-field>
            </div>

            <div class="range-filter">
                <mat-form-field  class="range-field" appearance="outline">
                    <mat-label>Мин. стаж</mat-label>
                    <input type="number" min="0" matInput [formControl]="minExpFormControl" (input)="filter()">
                </mat-form-field>
    
                <mat-form-field  class="range-field" appearance="outline">
                    <mat-label>Макс. стаж</mat-label>
                    <input type="number" min="0" matInput [formControl]="maxExpFormControl" (input)="filter()">
                </mat-form-field>
            </div>

            <mat-form-field class="application-sub-section"  appearance="outline">
                <mat-label>Необходимые навыки</mat-label>
                <mat-chip-grid #chipGrid aria-label="Введите навыки" [formControl]="skillsFormControl">
                  <mat-chip-row *ngFor="let skill of skills"
                                (removed)="removeSkill(skill);">
                    {{skill}}
                    <button matChipRemove [attr.aria-label]="'remove ' + skill">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                  <input placeholder="Введите навык и нажмите Enter..."
                         [matChipInputFor]="chipGrid"
                         (matChipInputTokenEnd)="addSkill($event);"/>
                </mat-chip-grid>
            </mat-form-field>


            <button class="filter-button" mat-flat-button color="primary" (click)="resetFilters()">Сбросить фильтры</button>
        </div>
    </div>
    

    <mat-list role="list">
        <div class="candidates-list-header" mat-subheader>Кандидаты</div>
        <div class="candidates-list-sub-header" *ngIf="candidatesFiltered.length == 0">Данных нет</div>
        <mat-list-item class="candidate-list-item" *ngFor="let candidate of candidatesFiltered">
            <div class="candidate-preview" (click)="openCandidate(candidate)">
                <div class="candidate-work"><div>{{candidate.expectedSalary}} руб.</div><div>{{candidate.city.name}}</div></div>
                <div class="candidate-name">{{candidate.fio}} {{candidate.desiredPosition}} (Стаж {{candidate.experience}})</div>
                <div class="candidate-skills">{{candidate.skills}}</div>
                <div class="candidate-contacts">
                    <div>{{candidate.phone}}</div>
                    <div>
                        <a [href]="'mailto:' + candidate.email">{{candidate.email}}</a>
                    </div>
                    <div>
                        <a [href]="'https://t.me/'+ candidate.telegram">@{{candidate.telegram}}</a>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>

